doctype html
html
  head
      block head
        title="Good Clips!"
        link(rel='icon' href='/favicon.png')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/movies.css')
        link(rel='stylesheet' href='/stylesheets/signup.css')
        link(rel='stylesheet' href='/stylesheets/users.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
  body
    header(id='navbar')
      nav(class='navbar-container container')
        div(class='first-half')
          img(src="/circle-cropped.png" class= 'aa-image')
          //- a(href="/" class='home-link') Good Clips!
            //- div(class='navbar-logo')
        button(type='button' class='navbar-toggle' aria-label='Open nav menu')
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')

        div(class='navbar-menu')
          ul(class='navbar-links')
            li
              if locals.authenticated
                a(href="/users" class='navbar-link') #{user.userName}'s Profile
            li
              a(href="/movies" class='navbar-link') Movies
            li
              a(href="/search" class='navbar-link') Search
            if !locals.authenticated
              li
                a(href="/signup" class='navbar-link') Register
            if !locals.authenticated
              li
                a(href="/login" class='navbar-link') Login
            if locals.authenticated
              li
                a(href="/logout" class='navbar-link') Logout

  script
       include ../navbar.js

  block content
