extends layout

block content
    link(rel="stylesheet", href="/stylesheets/login.css")
    div(class="login-wrapper")
        form(action="/login", method="post" class="login-form")
            input(type='hidden' name='_csrf' value=csrfToken)
            div(class="input-group")
                input(type="text" name='userName' required)
                label(for='userName') Username
            div(class="input-group")
                input(type="password" name='password' required)
                label(for='password') Password
            div
                h2
                    button(type='submit' class='login-btn') Login
    if errors
        ul(class="ul-errors")
            each error in errors
                li(class="error")= error
