extends layout

block content
    input(type='hidden' name='_csrf' value=csrfToken)
    label(for='username') User Name
    input(type="text" name='username')
    label(for='password') Password
    input(type="password" name='password')

    button(type='submit' class='btn') Login
