extends layout

block content
    div(class="movie-box")
        if movies
            each movie in movies
                    div(class="movie-container")
                        a(href=`${movie.id}` class="movie-title")= movie.title
                        h2(class="movie-genre")= movie.genre
                        img(class="movie-image")
