extends layout

block content
    div(class="movies-list")
        if movies
            each movie in movies
                div(class="movie-card")
                    div(class="movie-container")
                        each image, id in images
                            if `${movie.id}` === id
                                img(class="movie-image" src=`${image}`)
                        a(href=`/movie/${movie.id}` class="movie-title")= movie.title
                        h2(class="movie-genre")= movie.genre
