extends layout

block content
    if movies
        each movie in movies
            div(class="movie")
                a(href=`${movie.id}` class="movie title")= movie.title
                h2(class="movie genre")= movie.genre
                img(class="movie image")
