extends layout

block content
    div(class="page")
        form(action='/search' method='post' class="signup-form")
            label(for='search') Search Movie
            input(type='text' name='search')
            button(type='submit') Search
