
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15%;
}

.logo {
    font-size: 100px;
    text-shadow:
    10px 10px 3px rgb(0 0 0), 3px 3px 1px rgb(0 0 0);
}

.rest-of-logo {
    font-size: 100px;
    text-shadow:
    10px 10px 3px rgb(0 0 0), 3px 3px 1px rgb(0 0 0);
    /* transition: transform 1s linear;
    animation: logoSlideIn 3s infinite;
    animation-direction: alternate; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(.25turn, #030000, #2E2E2E, #030000);
    color: rgb(229,9,20);
}

.login-wrapper {
    position: relative;
}

.login-form {
    position: relative;
    width: 420px;
    padding: 80px 40px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.login-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    transform: skewX(-33deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}


.login-form .input-group {
    position: relative;
}

/* for some browsers it will pop up recent typed usernames ect but the color
does not follow the website theme so the below overrides them  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: red !important;
}

.login-form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.login-form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.login-form .input-group input:focus + label,
.login-form .input-group input:valid + label {
    transform: translateY(-18px);
    color: rgb(229,9,20);
    font-size: .8rem;
}

.login-form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.login-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: rgb(229,9,20);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.demo-btn {
    display: block;
    margin-top: 50px;
    margin-left: 30%;
    border: none;
    outline: none;
    background-color: rgb(229,9,20);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.ul-errors {
    display: flex;
    justify-content: center;
}

.error {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

h2 {
    background-color: transparent;
}
