body {
	background-color: #2e2e2e;
	/* color: #700b00; */
	color: white;
}
.movies-container {
	display: flex;
	justify-content: center;
}

.movies-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 25%);
	gap: 10px;
	max-width: 1000px;
}

.movie-card {
	display: flexbox;
	justify-content: center;
	flex-flow: row wrap;
	box-shadow: 0 4px 8px 0 rgba(172, 169, 169, 0.2);
	transition: 0.3s;
	border-radius: 5px 5px 0 0;
	border: 1px solid black;
	max-width: 250px;
}

.movie-card:hover {
	box-shadow: 0 8px 16px 0 rgba(248, 244, 244, 0.2);
}

.movie-box,
.movie-container {
	font-family: Helvetica, Arial, Times, serif, sans-serif;
}

.movie-container {
	text-align: center;
	width: 224px;
	height: 62px;
	padding: 2px 2px;
	border-radius: 5px 5px 0 0;
}

.movie-container > a,
p {
	margin: 2px;
}

.movie-image {
	width: 100%;
	/* max-width: 500px; */
	height: auto;
	border-radius: 5px 5px 0 0;
}

@media screen and (min-width: );
