body {
	background-color: #2e2e2e;
	/* color: #700b00; */
	color: white;
}
.movies-container {
	padding-top: 10%;
	display: flex;
	justify-content: center;
}

.movies-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 25%);
	gap: 25px;
	max-width: 1000px;
}

.movie-card {
	display: grid;
	flex-flow: row wrap;
	box-shadow: 0 4px 8px 0 rgba(172, 169, 169, 0.2);
	transition: 0.3s;
	transition: transform 0.4s;
	border: 1px solid black;
	max-width: 250px;
}

.movie-card:hover {
	box-shadow: 0 8px 16px 0 rgba(248, 244, 244, 0.2);
	transform: scale(1.1);
}

.movie-box,
.movie-container {
	font-family: Helvetica, Arial, Times, serif, sans-serif;
}

.movie-container {
	text-align: center;
	width: 250px;
	padding: 2px 2px;
}

.movie-container > a,
p {
	margin: 2px;
	text-decoration: none;
}

.movie-container > a {
	font-weight: bold;
	font-size: 19px;
}

.movie-image {
	width: 100%;
	/* max-width: 500px; */
	height: auto;
}

.movie-image,
.movie-container,
.movie-card {
	border-radius: 10px 10px 10px 10px;
}

/* remove underline in links */
/* a,
u {
} */

/* @media screen and (min-width: ); */
