
.page {
    padding-top: 10%;
}


body {
    background-color: #2E2E2E;
    color: rgb(229, 9, 20)
}



h2 {
    display: flex;
    padding: 5px;
    margin: 0;
    background-color: rgba(0, 0, 0, .85);
    width: 100%;
    margin: 0;
    font-weight: bold;
}




.collection{
    padding: 0;
    display:flex;
    overflow: auto;
    flex-direction: row;
    align-content: space-between;
    background-color: #313030;
}

.user-movie {
    width: fit-content;
    margin: 5px;
    box-shadow: 20px 20px 20px 20px rgba(5, 0, 0, 0.7);
    background-color: transparent;
}

.movie {
    padding: 2%;
    margin: 0;
    height: 100%;
    width: auto;
    border-radius: 10px;
}
